@model KariyerPortali.Admin.ViewModels.ExpertiseViewModel
@{
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Expertise")" class="nav-link ">Uzmanlıklar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Yeni Uzmanlık</span>
        </li>
    </ul>

</div>

<div class="row" style="padding-top:20px">
    <div class="col-md-12 ">

        <form action="/Expertise/Create" method="post" novalidate="novalidate">
            <input name="__RequestVerificationToken" type="hidden" value="CyMQ3Qikvcy2zf_s3XsT-rXmQxztYZfVZbb_CsEnu_qILJRBAUpJnzDEgU-ZcWpSHoZQjJjyQ4gV1vEw4tJ9cl6YGNWa1P5vjwlm0B2DqxlZcBVAXI4Zaom0WInzS9Eg64xzWdKFhtI-ZfaMwF2zIQ2">
            <div class="portlet light bordered" style="width:300px;">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">UZMANLIK EKLE</span>
                    </div>
                </div>
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="form-group">
                            <label for="ExpertiseName">Uzmanlık Adı</label>
                            <input class="form-control spinner text-box single-line" data-val="true" data-val-required="Lütfen bir uzmanlık adı giriniz." id="ExpertiseName" name="ExpertiseName" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="ExpertiseName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Ekle</button>
                        <button type="button" class="btn default" onclick="window.location='/Expertise';">İptal</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
@section Scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}