@model KariyerPortali.Admin.ViewModels.LanguageFormViewModel
@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="~/Language/Index">Tüm Diller</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Detay</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageName)
        </dd>

        </dl>
</div>
<p>
    
    @Html.ActionLink("Geri Dön", "Index")
</p>

